<!DOCTYPE html>
<html lang="en">
<!--  BEGIN HEADLINKS  -->
<%- include ('pages/links/head_links') %> 
<!--  END HEADLINKS  -->
<body class="sidebar-noneoverflow bg-white">

    <%- include ('pages/navs/main_header') %> 

    <!--  BEGIN MAIN CONTAINER  -->
    <div class="main-container" id="container">

        <div class="overlay"></div>
        <div class="search-overlay"></div>

        <!--  BEGIN TOPBAR  -->
        <%- include ('pages/navs/page_header') %> 
        <!--  END TOPBAR  -->
        
        <!--  BEGIN CONTENT AREA  -->
        <div id="content" class="main-content">
            <div class="layout-px-spacing">
                <!-- CONTENT AREA -->
                <div class="row layout-top-spacing section_one" id="section_one">
                    <div class="col-md-1"></div>
                    <div class="col-md-10 mt-5 mb-0 pb-0">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-12 layout-spacing">
                            <h5>Get access to millions of company reviews</h5>
                            <h1>Find great places to work</h1>
                        </div>
                        <div class="col-xl-12 col-lg-12 col-md-12 col-12 layout-spacing mt-n5">
                            <form class="row">
                                <div class="col-md-4 col-sm-12 mt-5">
                                    <label for="basic-url">Company name or job title</label>
                                    <div class="input-group mb-4">
                                        <input type="text" class="form-control">
                                        <div class="input-group-append">
                                            <span class="input-group-text"> 
                                                <svg xmlns="http://www.w3.org/2000/svg" width="17" height="17" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-search"><circle cx="11" cy="11" r="8"></circle><line x1="21" y1="21" x2="16.65" y2="16.65"></line></svg>
                                            </span>
                                        </div>
                                    </div>
                                </div> 
                                
                                <div class="col-md-4 col-sm-12 mt-5">
                                    <label >City, state, or zip (optional)</label>
                                    <div class="input-group mb-4">
                                        <input type="text" class="form-control">
                                        <div class="input-group-append">
                                            <span class="input-group-text"> 
                                                <svg xmlns="http://www.w3.org/2000/svg" width="17" height="17" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-map-pin"><path d="M21 10c0 7-9 13-9 13s-9-6-9-13a9 9 0 0 1 18 0z"></path><circle cx="12" cy="10" r="3"></circle></svg>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-12 mt-5">
                                    <button class="btn btn-primary btn-block mb-1 btn-rounded" style="margin-top:2.1rem">Find Companies</button>
                                    <div>
                                        <span href="#" class="ml-5 ">Do you want to search for salaries?</span>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="col-md-1"></div>
                </div>
                <div class="row layout-top-spacing section_two">
                    <div class="col-md-1"></div>
                    <div class="col-md-10 mt-5 mb-0 pb-0">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-12 layout-spacing ">
                            <div class="row bg-white ">
                                <div class="bg-white col-md-12 ">
                                    <h5 style="margin-left: 10px;" class="p-2">Companies Hiring Now</h5>
                                </div>
                                <div class="col-md-4 col-sm-12 grid_border">
                                    <div>
                                        <div class="row p-2">
                                            <div class="col-md-3">
                                                <div class="m-2 text-center">
                                                    <img src="assets/img/logo.png" alt="company logo" style="height:50px" width="50px">
                                                </div>
                                            </div>
                                            <div class="col-md-9">
                                                <div>
                                                    <div class="">
                                                        <p class="business_name mt-2 mb-2">LoGig</p>
                                                    </div>
                                                    <div class="d-inline-flex">
                                                        <div class="card-star_rating">
                                                            <svg xmlns="http://www.w3.org/2000/svg" width="19" height="19" viewBox="0 0 24 24" fill="gold" stroke="currentColor" stroke-width="1" stroke-linecap="round" stroke-linejoin="round" class="feather feather-star fill"><polygon points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2"></polygon></svg>
                                                            <svg xmlns="http://www.w3.org/2000/svg" width="19" height="19" viewBox="0 0 24 24" fill="gold" stroke="currentColor" stroke-width="1" stroke-linecap="round" stroke-linejoin="round" class="feather feather-star fill"><polygon points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2"></polygon></svg>
                                                            <svg xmlns="http://www.w3.org/2000/svg" width="19" height="19" viewBox="0 0 24 24" fill="gold" stroke="currentColor" stroke-width="1" stroke-linecap="round" stroke-linejoin="round" class="feather feather-star fill"><polygon points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2"></polygon></svg>
                                                            <svg xmlns="http://www.w3.org/2000/svg" width="19" height="19" viewBox="0 0 24 24" fill="gold" stroke="currentColor" stroke-width="1" stroke-linecap="round" stroke-linejoin="round" class="feather feather-star fill"><polygon points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2"></polygon></svg>
                                                            <svg xmlns="http://www.w3.org/2000/svg" width="19" height="19" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1" stroke-linecap="round" stroke-linejoin="round" class="feather feather-star"><polygon points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2"></polygon></svg>
                                                        </div>
                                                        <div class="ml-3">
                                                            <a href="">4,752 reviews</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row p-2 ">
                                            <div class="col-md-4">
                                                <a href="#">Salaries</a>
                                            </div>
                                            <div class="col-md-4">
                                                <a href="#">Q&A</a>
                                            </div>
                                            <div class="col-md-4">
                                                <a href="#">Open Jobs</a>
                                            </div>
                                        </div>
                                    </div>
                                </div> 
                                <div class="col-md-4 col-sm-12 grid_border">
                                    <div>
                                        <div class="row p-2">
                                            <div class="col-md-3">
                                                <div class="m-2 text-center">
                                                    <img src="assets/img/redbull.jpeg" alt="company logo" style="height:50px" width="50px">
                                                </div>
                                            </div>
                                            <div class="col-md-9">
                                                <div>
                                                    <div class="">
                                                        <p class="business_name mt-2 mb-2">Red Bull</p>
                                                    </div>
                                                    <div class="d-inline-flex">
                                                        <div class="card-star_rating">
                                                            <svg xmlns="http://www.w3.org/2000/svg" width="19" height="19" viewBox="0 0 24 24" fill="gold" stroke="currentColor" stroke-width="1" stroke-linecap="round" stroke-linejoin="round" class="feather feather-star fill"><polygon points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2"></polygon></svg>
                                                            <svg xmlns="http://www.w3.org/2000/svg" width="19" height="19" viewBox="0 0 24 24" fill="gold" stroke="currentColor" stroke-width="1" stroke-linecap="round" stroke-linejoin="round" class="feather feather-star fill"><polygon points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2"></polygon></svg>
                                                            <svg xmlns="http://www.w3.org/2000/svg" width="19" height="19" viewBox="0 0 24 24" fill="gold" stroke="currentColor" stroke-width="1" stroke-linecap="round" stroke-linejoin="round" class="feather feather-star fill"><polygon points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2"></polygon></svg>
                                                            <svg xmlns="http://www.w3.org/2000/svg" width="19" height="19" viewBox="0 0 24 24" fill="gold" stroke="currentColor" stroke-width="1" stroke-linecap="round" stroke-linejoin="round" class="feather feather-star fill"><polygon points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2"></polygon></svg>
                                                            <svg xmlns="http://www.w3.org/2000/svg" width="19" height="19" viewBox="0 0 24 24" fill="gold" stroke="currentColor" stroke-width="1" stroke-linecap="round" stroke-linejoin="round" class="feather feather-star"><polygon points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2"></polygon></svg>
                                                        </div>
                                                        <div class="ml-3">
                                                            <a href="">997 reviews</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row p-2 ">
                                            <div class="col-md-4">
                                                <a href="#">Salaries</a>
                                            </div>
                                            <div class="col-md-4">
                                                <a href="#">Q&A</a>
                                            </div>
                                            <div class="col-md-4">
                                                <a href="#">Open Jobs</a>
                                            </div>
                                        </div>
                                    </div>
                                </div> 
                                <div class="col-md-4 col-sm-12 grid_border">
                                    <div>
                                        <div class="row p-2">
                                            <div class="col-md-3">
                                                <div class="m-2 text-center">
                                                    <img src="assets/img/verizon.jpeg" alt="company logo" style="height:50px" width="50px">
                                                </div>
                                            </div>
                                            <div class="col-md-9">
                                                <div>
                                                    <div class="">
                                                        <p class="business_name mt-2 mb-2">Verizon</p>
                                                    </div>
                                                    <div class="d-inline-flex">
                                                        <div class="card-star_rating">
                                                            <svg xmlns="http://www.w3.org/2000/svg" width="19" height="19" viewBox="0 0 24 24" fill="gold" stroke="currentColor" stroke-width="1" stroke-linecap="round" stroke-linejoin="round" class="feather feather-star fill"><polygon points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2"></polygon></svg>
                                                            <svg xmlns="http://www.w3.org/2000/svg" width="19" height="19" viewBox="0 0 24 24" fill="gold" stroke="currentColor" stroke-width="1" stroke-linecap="round" stroke-linejoin="round" class="feather feather-star fill"><polygon points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2"></polygon></svg>
                                                            <svg xmlns="http://www.w3.org/2000/svg" width="19" height="19" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1" stroke-linecap="round" stroke-linejoin="round" class="feather feather-star fill"><polygon points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2"></polygon></svg>
                                                            <svg xmlns="http://www.w3.org/2000/svg" width="19" height="19" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1" stroke-linecap="round" stroke-linejoin="round" class="feather feather-star fill"><polygon points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2"></polygon></svg>
                                                            <svg xmlns="http://www.w3.org/2000/svg" width="19" height="19" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1" stroke-linecap="round" stroke-linejoin="round" class="feather feather-star"><polygon points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2"></polygon></svg>
                                                        </div>
                                                        <div class="ml-3">
                                                            <a href="">27,710 reviews</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row p-2 ">
                                            <div class="col-md-4">
                                                <a href="#">Salaries</a>
                                            </div>
                                            <div class="col-md-4">
                                                <a href="#">Q&A</a>
                                            </div>
                                            <div class="col-md-4">
                                                <a href="#">Open Jobs</a>
                                            </div>
                                        </div>
                                    </div>
                                </div> 
                            </div>
                            <div class="row bg-white ">
                                <div class="col-md-4 col-sm-12 grid_border">
                                    <div>
                                        <div class="row p-2">
                                            <div class="col-md-3">
                                                <div class="m-2 text-center">
                                                    <img src="assets/img/startbucks.jpeg" alt="company logo" style="height:50px" width="50px">
                                                </div>
                                            </div>
                                            <div class="col-md-9">
                                                <div>
                                                    <div class="">
                                                        <p class="business_name mt-2 mb-2">Starbucks</p>
                                                    </div>
                                                    <div class="d-inline-flex">
                                                        <div class="card-star_rating">
                                                            <svg xmlns="http://www.w3.org/2000/svg" width="19" height="19" viewBox="0 0 24 24" fill="gold" stroke="currentColor" stroke-width="1" stroke-linecap="round" stroke-linejoin="round" class="feather feather-star fill"><polygon points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2"></polygon></svg>
                                                            <svg xmlns="http://www.w3.org/2000/svg" width="19" height="19" viewBox="0 0 24 24" fill="gold" stroke="currentColor" stroke-width="1" stroke-linecap="round" stroke-linejoin="round" class="feather feather-star fill"><polygon points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2"></polygon></svg>
                                                            <svg xmlns="http://www.w3.org/2000/svg" width="19" height="19" viewBox="0 0 24 24" fill="gold" stroke="currentColor" stroke-width="1" stroke-linecap="round" stroke-linejoin="round" class="feather feather-star fill"><polygon points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2"></polygon></svg>
                                                            <svg xmlns="http://www.w3.org/2000/svg" width="19" height="19" viewBox="0 0 24 24" fill="gold" stroke="currentColor" stroke-width="1" stroke-linecap="round" stroke-linejoin="round" class="feather feather-star fill"><polygon points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2"></polygon></svg>
                                                            <svg xmlns="http://www.w3.org/2000/svg" width="19" height="19" viewBox="0 0 24 24" fill="gold" stroke="currentColor" stroke-width="1" stroke-linecap="round" stroke-linejoin="round" class="feather feather-star"><polygon points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2"></polygon></svg>
                                                        </div>
                                                        <div class="ml-3">
                                                            <a href="">13,752 reviews</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row p-2 ">
                                            <div class="col-md-4">
                                                <a href="#">Salaries</a>
                                            </div>
                                            <div class="col-md-4">
                                                <a href="#">Q&A</a>
                                            </div>
                                            <div class="col-md-4">
                                                <a href="#">Open Jobs</a>
                                            </div>
                                        </div>
                                    </div>
                                </div> 
                                <div class="col-md-4 col-sm-12 grid_border">
                                    <div>
                                        <div class="row p-2">
                                            <div class="col-md-3">
                                                <div class="m-2 text-center">
                                                    <img src="assets/img/burgerking.jpeg" alt="company logo" style="height:50px" width="50px">
                                                </div>
                                            </div>
                                            <div class="col-md-9">
                                                <div>
                                                    <div class="">
                                                        <p class="business_name mt-2 mb-2">Burger King</p>
                                                    </div>
                                                    <div class="d-inline-flex">
                                                        <div class="card-star_rating">
                                                            <svg xmlns="http://www.w3.org/2000/svg" width="19" height="19" viewBox="0 0 24 24" fill="gold" stroke="currentColor" stroke-width="1" stroke-linecap="round" stroke-linejoin="round" class="feather feather-star fill"><polygon points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2"></polygon></svg>
                                                            <svg xmlns="http://www.w3.org/2000/svg" width="19" height="19" viewBox="0 0 24 24" fill="gold" stroke="currentColor" stroke-width="1" stroke-linecap="round" stroke-linejoin="round" class="feather feather-star fill"><polygon points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2"></polygon></svg>
                                                            <svg xmlns="http://www.w3.org/2000/svg" width="19" height="19" viewBox="0 0 24 24" fill="gold" stroke="currentColor" stroke-width="1" stroke-linecap="round" stroke-linejoin="round" class="feather feather-star fill"><polygon points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2"></polygon></svg>
                                                            <svg xmlns="http://www.w3.org/2000/svg" width="19" height="19" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1" stroke-linecap="round" stroke-linejoin="round" class="feather feather-star fill"><polygon points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2"></polygon></svg>
                                                            <svg xmlns="http://www.w3.org/2000/svg" width="19" height="19" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1" stroke-linecap="round" stroke-linejoin="round" class="feather feather-star"><polygon points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2"></polygon></svg>
                                                        </div>
                                                        <div class="ml-3">
                                                            <a href="">124 reviews</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row p-2 ">
                                            <div class="col-md-4">
                                                <a href="#">Salaries</a>
                                            </div>
                                            <div class="col-md-4">
                                                <a href="#">Q&A</a>
                                            </div>
                                            <div class="col-md-4">
                                                <a href="#">Open Jobs</a>
                                            </div>
                                        </div>
                                    </div>
                                </div> 
                                <div class="col-md-4 col-sm-12 grid_border">
                                    <div>
                                        <div class="row p-2">
                                            <div class="col-md-3">
                                                <div class="m-2 text-center">
                                                    <img src="assets/img/apple.jpeg" alt="company logo" style="height:50px" width="50px">
                                                </div>
                                            </div>
                                            <div class="col-md-9">
                                                <div>
                                                    <div class="">
                                                        <p class="business_name mt-2 mb-2">Apple</p>
                                                    </div>
                                                    <div class="d-inline-flex">
                                                        <div class="card-star_rating">
                                                            <svg xmlns="http://www.w3.org/2000/svg" width="19" height="19" viewBox="0 0 24 24" fill="gold" stroke="currentColor" stroke-width="1" stroke-linecap="round" stroke-linejoin="round" class="feather feather-star fill"><polygon points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2"></polygon></svg>
                                                            <svg xmlns="http://www.w3.org/2000/svg" width="19" height="19" viewBox="0 0 24 24" fill="gold" stroke="currentColor" stroke-width="1" stroke-linecap="round" stroke-linejoin="round" class="feather feather-star fill"><polygon points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2"></polygon></svg>
                                                            <svg xmlns="http://www.w3.org/2000/svg" width="19" height="19" viewBox="0 0 24 24" fill="gold" stroke="currentColor" stroke-width="1" stroke-linecap="round" stroke-linejoin="round" class="feather feather-star fill"><polygon points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2"></polygon></svg>
                                                            <svg xmlns="http://www.w3.org/2000/svg" width="19" height="19" viewBox="0 0 24 24" fill="gold" stroke="currentColor" stroke-width="1" stroke-linecap="round" stroke-linejoin="round" class="feather feather-star fill"><polygon points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2"></polygon></svg>
                                                            <svg xmlns="http://www.w3.org/2000/svg" width="19" height="19" viewBox="0 0 24 24" fill="gold" stroke="currentColor" stroke-width="1" stroke-linecap="round" stroke-linejoin="round" class="feather feather-star"><polygon points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2"></polygon></svg>
                                                        </div>
                                                        <div class="ml-3">
                                                            <a href="">15,710 reviews</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row p-2 ">
                                            <div class="col-md-4">
                                                <a href="#">Salaries</a>
                                            </div>
                                            <div class="col-md-4">
                                                <a href="#">Q&A</a>
                                            </div>
                                            <div class="col-md-4">
                                                <a href="#">Open Jobs</a>
                                            </div>
                                        </div>
                                    </div>
                                </div> 
                            </div>
                        </div>
                    </div>
                    <div class="col-md-1"></div>
                </div>
                <!-- CONTENT AREA -->

            </div>
            <%- include ('pages/navs/footer') %> 
        </div>
        <!--  END CONTENT AREA  -->

    </div>
    <!-- END MAIN CONTAINER -->

    <%- include ('pages/links/foot_links') %> 
</body>
</html>