<!DOCTYPE html>
<html lang="en">
<!--  BEGIN HEADLINKS  -->
<%- include ('pages/links/head_links') %> 
<!--  END HEADLINKS  -->
<body class="sidebar-noneoverflow">

    <%- include ('pages/navs/main_header') %> 

    <!--  BEGIN MAIN CONTAINER  -->
    <div class="main-container" id="container">

        <div class="overlay"></div>
        <div class="search-overlay"></div>

        <!--  BEGIN TOPBAR  -->
        <%- include ('pages/navs/page_header') %> 
        <!--  END TOPBAR  -->
        
        <!--  BEGIN CONTENT AREA  -->
        <div id="content" class="main-content">
            <div class="layout-px-spacing">

                <!-- CONTENT AREA -->
                <div class="row layout-top-spacing">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-12 layout-spacing">
                        <!-- <div class="widget-content-area br-4"> -->
                            <!-- <div class="widget-one"> -->
                                
                            <!-- </div> -->
                        <!-- </div> -->
                    </div>
                </div>
                <!-- CONTENT AREA -->

            </div>
            <%- include ('pages/navs/footer') %> 
        </div>
        <!--  END CONTENT AREA  -->

    </div>
    <!-- END MAIN CONTAINER -->

    <%- include ('pages/links/foot_links') %> 
</body>
</html>